<% if item_tag.present? %>
  <% the_item_tag_border_class = item_tag_border_class(
    type_param: type,
    item_tag_id_param: item_tag_id,
    item_tag_id: item_tag.id) %>

  <%= tag.div class: "w-56 sm:w-full flex items-center justify-center shadow-lg font-mono font-bold
      h-full mt-2 sm:mt-0 p-4 sm:p-0 rounded sm:rounded-lg xl:rounded-lg 2xl:rounded-xl 3xl:rounded-2xl 7xl:rounded-3xl
      text-4xl md:text-5xl lg:text-7xl xl:text-8xl 2xl:text-9xl 7xl:text-[12rem] 11xl:text-[18rem]
      #{the_item_tag_border_class}",
    style: "background-color: #003E6B; color: #DCEEFB;" do %>
    <span><%= item_tag.queue_number %></span>
  <% end %>
<% end %>
