<%= tag.div class: "min-h-[8dvh] flex items-center justify-center
  text-sm lg:text-2xl xl:text-3xl 3xl:text-4xl 7xl:text-5xl 8xl:text-7xl",
  style: "background-color: #F0F4F8; color: #003E6B;" do %>
  <span><%= marquee_text %></span>
<% end %>
