<%= tag.div class: "p-4 sm:p-6 xl:p-8 2xl:p-10 3xl:p-12 7xl:p-20 11xl:p-24
  sm:flex sm:flex-row sm:items-center sm:space-x-12 7xl:space-x-24 11xl:space-x-32 sm:flex-1
  sm:min-h-[90dvh]" do %>
  <div class="sm:basis-1/3 sm:flex sm:flex-col sm:justify-center sm:h-full">
    <%= tag.div class: "p-2 xl:p-4 3xl:p-6 7xl:p-8 sm:flex sm:items-center sm:basis-1/3
        text-base md:text-lg lg:text-3xl xl:text-4xl 2xl:text-5xl 3xl:text-6xl 5xl:text-7xl 8xl:text-8xl",
      style: "color: #003E6B;" do %>
      <p>Completed!<br>Please come to the counter.</p>
    <% end %>
    <div id="tb_stream_latest_item_tag" class="flex justify-center items-stretch sm:basis-1/3">
    </div>
    <%= tag.div class: "p-2 xl:p-4 3xl:p-6 7xl:p-8 sm:flex sm:items-center sm:basis-1/3
        text-base md:text-lg lg:text-3xl xl:text-4xl 2xl:text-5xl 3xl:text-6xl 5xl:text-7xl 8xl:text-8xl",
      style: "color: #003E6B;" do %>
      <p></p>
    <% end %>
  </div>
  <div class="mt-4 sm:mt-0 sm:basis-2/3 sm:h-full">
    <div role="list" id="tb_stream_completed_item_tags"
      class="grid items-stretch sm:grid-flow-row grid-cols-2 sm:grid-rows-3 sm:grid-cols-3
        gap-2 sm:gap-4 xl:gap-5 2xl:gap-6 3xl:gap-9 7xl:gap-12 11xl:gap-14
        sm:h-full font-mono font-bold
        text-3xl lg:text-5xl xl:text-6xl 2xl:text-7xl 3xl:text-8xl 7xl:text-9xl 11xl:text-[12rem]">
    </div>
    <div id="tb_stream_completed_next_page_link">
    </div>
  </div>
<% end %>
