<% completed_item_tags.each do |item_tag| %>
  <% the_item_tag_border_class = item_tag_border_class(
    type_param: type,
    item_tag_id_param: item_tag_id,
    item_tag_id: item_tag.id) %>
  <%= tag.div class: "flex items-center justify-center shadow-lg leading-6 p-4 sm:p-0
    rounded sm:rounded-lg xl:rounded-lg 2xl:rounded-xl 3xl:rounded-2xl 7xl:rounded-3xl
    #{the_item_tag_border_class}",
    style: "background-color: #003E6B; color: #DCEEFB;" do %>
    <span><%= item_tag.queue_number %></span>
  <% end %>
<% end %>
